<% include ./header.ejs%>
<div class="container">
    <p class="m-top"><b>新添分类</b></p>
    <input type="text" class="form-control" placeholder="新分类" id="txt">
    <button type="button" class="btn btn-default" id="btn">Submit</button>
</div>
</body>
</html>