<% include ./header.ejs %>
<% include ./nav.ejs %>
<div class="cover"></div>
<div class="main">
    <div class="clover-top text-center">
        <img class="clover-ban" src="../../public/images/clover-ban3.png" alt="ban">
    </div>
    <div class="clover container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h1>Clover简介</h1>
                发表时间：<em>2018/05/02</em>
                <div class="list-box thumbnail">
                    <ul class="text-left">
                        <li><a href="#language">作者语录</a></li>
                        <li><a href="#body-msg">主体基本信息</a></li>
                        <li><a href="#control">功能简介</a></li>
                        <li><a href="#faction">效果预览</a></li>
                        <li><a href="#doc">声明</a></li>
                    </ul>
                </div>
                <div class="atheist-language thumbnail">
                    <h3 id="language">作者语录:</h3>
                    <img class="zhuti" src="../../public/images/clover.jpg" alt="photo">
                    <div class="caption text-left">
                        <p>一个Wordpress二次元个人博客主题，简约而不简单，Made BY 江程训。
                            最近总感觉作为一个Wordpress老玩家（其实也不算多老，也就接触这个网站程序一年），
                            自己似乎少了点什么，于是就做了这款主题。 本主题在Akina的分支Siren的基础上魔改，
                            希望大家喜欢，也希望大家能够在Github去Star这个主题。
                        </p>
                    </div>
                </div>
                <div class="msg thumbnail">
                    <h3 id="body-msg">主体基本信息:</h3>
                    <ul class="text-left">
                        <li>一、主题名称：Clover</li>
                        <li>二、作者：彳蓝小白（小小白）</li>
                        <li>三、主题类型：个人博客，二次元，大佬必备</li>
                        <li>四、特色描述：简约而不简单，特别适合二次元爱好者，程序员</li>
                        <li>五、github下载：https://github.com/guoyawan/nodejs</li>
                        <li>六、主题框架：基于bootstrap框架所写成的一个主题博客</li>
                        <li>七、新的一天你在开心吗</li>
                    </ul>
                </div>
                <div class="thumbnail text-left">
                    <h3 id="control">功能简介:</h3>
                    <p>首页社交组件，让您的Fans轻松联系到您~ 简洁阅读风格，看屏幕爽到爆炸 随机二次元封面图，拯救选择困难症 三图广告位，助力访客更加了解本站 有趣的提示文字，浓浓的次元风格
                        文章目录功能，一键导航至所需段落 ...... 更多功能，需要您细细品尝
                    </p>
                </div>
                <div class="thumbnail text-left">
                    <h3 id="faction">效果预览</h3>
                    <img src="../../public/images/a.png" alt="img">
                </div>
                <div class="thumbnail text-left">
                    <h3 id="doc">声明</h3>
                    <p>本主题基于Akina的分支Siren，江程训仅在此主题基础上进行了一些魔改与微创新，禁止任何人利用任何理由和方式倒卖本主题，另外本主题授权协议为Apache2.0，请勿违反规则。
                    </p>
                </div>
                <div class="clover-reprint">
                    <p>如未特殊说明，本站文章皆为原创文章，请规范转载。</p>
                </div>
                <div class="user-dis text-center">
                    <img src="../../public/images/photo.jpg" alt="photo" class="img-circle photo">
                    <a href="javascript:;">彳蓝小白</a>
                </div>
                <div class="jumbotron">
                    <a id="up" class="" href="/api/user">狗子，快去去注册吧</a>
                    <a id="down" href="/api/user">狗子，快去去登录吧</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>