<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/css/xcConfirm.css">
    <script src="../../public/js/jquery.1.10.2.min.js"></script>
    <script src="../../public/js/xcConfirm.js"></script>
    <script src="../../public/js/bootstrap.js"></script>
    <script src="../../public/js/index.js"></script>
</head>
<body>
