<div class="body-solid text-center">
    <nav class="right-side visible-xs">
        <div>
            <div class="side-box text-center">
                <img id="side-logo" src="../../public/images/photo.jpg" alt="logo">
                <a href="javascript:;">点击头像登录</a>
            </div>
            <ul class="right-word">
                <li>首页</li>
                <li>实例页面</li>
                <li>Clover简介</li>
                <li>Github</li>
                <li>Bootstrap</li>
                <li>Angle</li>
                <li>相关搜索</li>
                <li id="side-out">退出</li>
            </ul>
        </div>
    </nav>
    <span class="blossom hidden-xs">Clover</span>
    <span class="xs-blossom visible-xs">Clover</span>
    <div id="nav" class="hidden-xs">
        <a class="black" href="/api/user">
            <svg class="icon" id="icon"  data-toggle="tooltip" data-placement="bottom" title="点击登录" style="width:
 35px; height: 35px;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"
                 p-id="11011">
                <path d="M575.215 547.318c53.367-24.316 90.562-78.011 90.562-140.522 0-85.257-69.149-154.383-154.406-154.383-85.299 0-154.427 69.126-154.427 154.383 0 62.49 37.172 116.185 90.562 140.522-87.156 27.24-150.586 108.698-150.586 204.715 0 12.071 9.779 21.827 21.827 21.827s21.827-9.756 21.827-21.827c0-94.161 76.613-170.774 170.776-170.774 94.184 0 170.797 76.613 170.797 170.774 0 12.071 9.756 21.827 21.827 21.827 12.07 0 21.827-9.756 21.827-21.827 0.021-95.994-63.43-177.475-150.586-204.715zM400.621 406.817c0-61.072 49.678-110.729 110.773-110.729 61.072 0 110.75 49.657 110.75 110.729 0 61.094-49.678 110.794-110.75 110.794-61.095 0-110.773-49.7-110.773-110.794zM511.371 960.81c-246.951 0-447.869-200.918-447.869-447.891 0-246.93 200.919-447.871 447.869-447.871 246.973 0 447.892 200.919 447.892 447.871 0 246.973-200.919 447.891-447.892 447.891z m0-854.269c-224.098 0-406.398 182.301-406.398 406.377s182.3 406.397 406.398 406.397c224.099 0 406.42-182.321 406.42-406.397S735.47 106.541 511.371 106.541z"
                      p-id="11012"></path>
            </svg>
        </a>
        <ul class="nav-word">
            <li class="z-1"><a href="/">首页</a></li>
            <li class="z-1">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    实例页面<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">项目简介</a></li>
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">Angle</a></li>
                </ul>
            </li>
            <li class="z-1">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    文章分类<span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-three" aria-labelledby="dropdownMenu1">
                    <li><a href="#">感情</a></li>
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">Angle</a></li>
                </ul>
            </li>
            <li class="z-1"><a href="/clover">Clover</a></li>
        </ul>
    </div>
    <button id="side-open" class="visible-xs">☰</button>
</div>